body{
    background-color: #c5E4E7;
}
.container{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    margin-top:70px;
    background-color: FFFFFF;
}
.leftContainer{
    background-color:#ffffff;
    max-width:400px;
    height: 500px;
    justify-content:flex-start;
    align-items:baseline;
    display: flex;
    flex-wrap: wrap;
    padding:60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
label{
    color: rgb(3, 37, 3);
    font-size: 1rem;
    font-weight:normal;
    font-family:sans-serif,serif;
}
.leftContainer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 4.5rem;
    
    
}
.leftContainer ul li{
    list-style: none;
    margin-right: 10px;
    
    
}
.leftContainer ul li a{
    background-color: #1A484B;
    color:white;
    padding:20px;
    text-decoration: none;
    border:1px solid white;
    border-radius:10px;
}
.amount{
    display: flex;
    flex:2;
}
.tip{
    display: flex;
    flex-direction: column;

}
input[type=text] {
    max-width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color:#F3F8FB;
    justify-self: flex-start;
    color:rgb(3, 37, 3);
    font-size: 1.6rem;
    font-weight:bold;
    text-align:right;
    border:0px;
    border-radius:15px;
}
.rightContainer{
    background-color:#FFFFFF;
    width:300px;
    height: 500px;
    justify-content:flex-start;
    align-items:baseline;
    display: flex;
    flex-wrap: wrap;
    padding:60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    
}
.rightInnerDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width:300px;
    background-color: #1A484C;
    color: white;
    height:400px;
    padding:40px;
    border: 2px solid rgb(243, 241, 241);
    border-radius: 20px;
    max-width:300px;
    
}
.rightInnerDiv h3{
    background-color: #29696D;
    padding:20px;
    justify-self: center;
    align-items: center;
    text-align:center;
    border: 2px solid rgb(243, 241, 241);
    border-radius: 4px;
}
.rightContainer h3 a{
    text-decoration: none;
    color:white;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}